---
layout: base.njk
---

<section class="section section-main">

  <header class="section-header">
    <h1 class="heading-primary">
      {{ title }}
    </h1>
  </header>

  {{ content | safe }}

</section>


