---
title: Donks and Men
permalink: /donksandmen/
order: 7
eleventyExcludeFromCollections: true
---

   <article class="text">

      <div class="text-group">
         <p>
            <b>By Chris Stewart</b>
         </p>
      </div>


      <div class="text-group clearfix">
         <figure class="figure figure-thumb figure-right">
            <img src="/images/donksatmadison.jpg" width="296" height="193" alt="Donkeys at Madison Hut" class="img-responsive">
            <figcaption class="figcaption">
               Donks at Madison, 1958
            </figcaption>
         </figure>

         <p>
            By the early 1930s, teams of donkeys  &mdash;  prodded by two or three
            donkskinners  &mdash;  were lugging in the summer's "initial" requisition of
            hut supplies: blankets, canned and dry goods to Madison, and the
            almost-new huts at Zealand, Galehead and Greenleaf. This work
            took place for about four weeks when the huts opened and early
            into the season. Skinners and donks together spent several days at
            one hut, hauling up as much as 500 pounds of goods in a day, then
            moved on to the next hut. Donk teams also did a stint in the fall
            helping to close the huts.
         </p>

         <p>
            It was not a job for the faint of nose.
         </p>

         <p>
            The donkskinners in the spring of 1942 were Bob "Beetle" Elsner
         (Pinkham fall 1941, donkskinner spring 1942, Pinkham 1944-1945)
         and Edwin "Moose" Damp (Madison 1941-1942)
         </p>

      </div>

      <div class="text-group">


         <p>
            "Everything smelled like donks," Moose recalled. "Your shoes
         smelled like the donks. Your hair smelled like the donks. Everything
         smelled like the donks all the time. It had to be.
         </p>

         <p>
            "We always had good days. You started early and loaded up the
         donks while your breakfast was cooking," Moose said. "Then you
         started up the trail. Three, four or five hours on the trail, depending.
         Then you unloaded and came down and were all finished for the
         day."
         </p>

         <p>
            When packing the initial to Madison, the donks were corralled in a
         field just off the Beechwood Way trail, about where a power line
         now crosses the path. (The clearing remains to this day.) Usually,
         while packing to the huts, donkskinners slept at makeshift trailhead
         campgrounds nearby in tents. For packing Greenleaf, luckier
         skinners slept in a shed at the New Hampshire Highway Department camp. This was the height of comfort.
         </p>

         <p>
            How did this donkskinning start?
         </p>

         <p>
            Bertram "Swoop" Goodwin (Lonesome 1941) remembered that
         the donks (perhaps as many as 41&mdash;Joe Dodge put the number at
         40) were originally imported from Roswell, New Mexico, when "a
         couple of hutmen" formed the White Mountain Jackass Company
         in 1929.
         </p>

         <p>
            These far-sighted hutmen figured that busy times were coming,
         and there was money in donks. They figured right. In the spring of
         1929, the Hut Committee had OK'd several building projects  &mdash;
         including construction of a new hut at Eagle Lake on the side of
         Mount Lafayette in Franconia Notch, an expansion at Madison
         Spring Hut, and the acquisition of camps for another hut at
         Lonesome Lake, west across the notch from Greenleaf. These
         renovation and building projects were to be conducted under the
         direction of Joe Dodge, who had been hired as full-time Huts
         Manager on January 1, 1928.
         </p>

         <p>
            And there soon would be more projects.
         </p>

         <p>
            In the fall of 1930, the Hut Committee OK'd the addition of two
         new huts, Galehead and Zealand  &mdash;  construction projects also to be
         completed under Joe's energetic direction that following 1931
         summer. This fueled demand for heavyweight transportation.
         </p>

         <p>
            "So these guys got together and figured that this donk business
         would be a good thing," Swoop recalled. After one summer season,
         though, the company founders had had enough. That fall, they sold
         their business to the AMC and the donks became part of the
         expanding huts operation overseen by Joe Dodge.
         </p>

         <p>
            Joe organized an efficient operation. In his story, "Donkeys to the
         Huts," Robert L. Wells wrote about his friend, Bob Elsner,
         describing Elsner's experience as a donkskinner. The donks, Elsner
         told Wells, were boarded at the Harris Farm in Whitefield, an
         arrangement well established by the mid-1930s.
         </p>

         <p>
            The farmer's son, Winston F. "Winnie" Harris, taught
         donkskinning to the young men whom Joe selected for the task.
         "These are good boys," Joe advised Winnie, "but they've never
         seen a donkey before." By all accounts, Winnie proved a good
         teacher.
         </p>

         <p>
            Skinners began around Memorial Day. A team of eight donkeys
         loaded cross-wise, side by side, head to rump, on the AMC's three-
         quarter ton pickup truck  could be transported from the Harris
         Farm in one trip. The donks had personality. There was Little
         Horse (remembered by John Howe as the lead donk), Tex, Rocky,
         Noah, Old Jack (who once lugged a kitchen sink and toilet bowl
         the sink on one flank, the toilet balancing on the other) and Whitey.
         </p>

         <p>
             Smokey, Johnny and Trigger, the most reliable carriers, could be
         counted on to take at least 90 pounds. Fitted with cross-tree
         saddles, most of the donks could take between 70 to 110 pounds a
         trip. Softer blankets might be tied onto the saddle first, with more
         rigid items and boxes lashed at the top of the load.
            Once, in 1944, Smokey and Johnny, spent all summer at Madison
          "the only time that Madison had a couple of resident donkeys,"
         John Howe remembered. (Howe worked at Madison 1943 and 1944
         and was a donkskinner in 1947 and 1948).
         </p>

         <p>
            During World War II, with so many young men in the armed
         services, crews tended to be very young, with less experience. John
         Howe, the hutmaster, was 18, the oldest on a five-man crew.
         Brookie Dodge, Joe's son, already working his second summer at
         Madison, was 14 years old in 1944. Donks were a necessity.
         </p>

         <p>
            "I had just flunked out of getting into the Air Corps," John
         remembered, "because I was supposed to have had a bad heart,
         which was a lie. Brookie (Dodge, Madison 1943-1946, Lakes 1949)
         was on the crew again. He had just had an appendicitis operation. I
         guess Joe was worried so he gave us a couple of donkeys to help
         out with the packing," John said. While the donkeys were some-
         what of a help, John emphasized that the crew did still continue to
         pack as much as always.
         </p>

         <p>
           Donkskinners' labors started at dawn, and, as many hutmen and
         donkskinners recalled, the daily routine could be a challenge. Writing
         in the spring 1994 Resuscitator, Joe Harrington (Greenleaf 1956-
         1958) expressed his admiration for the men behind, beside and in
         front of the donks:
         </p>

         <p>
            "I never envied the donkey skinners. They got up earlier than hut
         crews, to feed their charges and get them set for the trail. They got
         on the trail early or not at all, for burros and afternoon thunder-
         storms are not compatible, especially on exposed ridges. If the
         weather was questionable, they stayed downstairs, and likewise,
         they got the hell off the hill by early afternoon if it looked like you
         might get some thumpers later on. So there the skinners would be,
         2 or 3 in the afternoon, with nothing to do but watch the hayburners
         munch away, make up the saddlebags for the next day's run, and
         turn in early so as to be able to get up before dawn. Exciting. Leave
         camp? One at a time, maybe, but better not let Joe come by and find
         the animals unattended, nor take a chance that the canny rascals
         would note your absence, bust loose, and go rambling down Route
         3 or cause consternation by roaming through Lafayette Camp-
         ground."
            Worst, donks didn't toil on schedule. Moving them took ingenu-
         ity. Prodding, poking, whipping, shouting and shoving proved
         effective. But not always.
         </p>

         <p>
            John Howe remembered a tough day on the Zealand pack trail,
         "the worst place by far," as he explained.
         </p>

         <p>
            "Zealand is really a muddy trail. The donks got bogged down in
         the beaver swamps in the flats below the hut, sometimes right up to
         their bellies. ... If you went away and left them, they would have
         died in the mud. To get them to move, you'd have to pinch their
         nostrils closed. ... eventually, they get desperate enough for air that
         they just get themselves out."
         </p>

         <p>
            Donks could be a nuisance off the trail as well. Tom Heffernan
         was a donkskinner in 1955 under Swede Shogren. Tom remembers
         the runt donkey, Pizon, who had a particularly loud bray.
            "Pizon was always in the back of the truck and he caught hell
         when Swede would screech on the brakes. You could hear him
         braying a mile away when all the other donks shifted back into
         him... ."
         </p>

         <p>
            And donkskinners had reason to bray themselves, Tom remem-
         bered. "My most vivid memory is sleeping near their corral during
         black fly season and soaking myself in the famous Pinkham Notch
         Fly Dope. This concoction was pine tar, citronella, oil of penny-
         royal, creosote and kerosene. It really did work, especially if you
         drowned a bandanna in it."
         </p>

         <p>
             Bruce Sloat worked for the AMC from 1951 to 1972. He
         describes another successful technique to move a stubborn donkey.
            "We drove them from the Harris farm to a corral at Zealand, but
         some of them wouldn't want to walk down the ramp from the back
         of the 1.5-ton truck," Bruce remembered. "Couldn't convince them
         to budge. So I tied one end of a rope to tree, the other to the
         stubborn donk, and then began to drive slowly away. That
         convinced them to move."
         </p>

         <p>
            By the early 1960s, experienced crews were hard to come by, the
         AMC donks had aged, and helicopters could now lift unbeatable
         payloads to the huts. In "A Century of AMC" from the June 15,
         1976, issue of Appalachia, C. Francis Belcher wrote that, "Back-
         packing will always be there, despite the fact that in 1964 we got rid
         of the jackasses."
         </p>

         <p>
            <i>excerpt from "Getting it Uphill," <i>The Resuscitator,</i> Fall 2008.
         </p>
      </div>

   </article>
