---
title: Donkeys
permalink: /donkeys/
order: 6
eleventyExcludeFromCollections: true
---

  <article class="text">
    <p>
      <b>By Bob Wells</b>
    </p>

    <p>
      <i>Originally published in Randolph's Mountainview quarterly town newsletter. Reprinted with permission of the author.</i>
    </p>

    <p>
      Many of us have an interest in the activities in our northern mountains in earlier days. In September of 1996 when Bob and Betty Elsner of Ester, Alaska, and their daughter, Wendy, visited our cabin, we learned about an interesting chapter of hut history that we had not been acquainted with before, though many Randolphians may know of it.
    </p>

    <p>
      During their visit we planned a hike to Crag Camp, which Bob had visited on skis in the early spring of 1942. As we left Appalachia on our hike, right at the point where Air Line diverges from Valley Way, Bob Elsner observed, "Here's where we had the corral for the donkeys." Our interest was sparked immediately. "Tell us about the donkeys."
    </p>

    <p>
      In 1941, and again in 1944, Bob worked for Joe Dodge out of the Pinkham Notch Camp. At that time donkeys were used to supply the heavy early season loads to some of the huts. These loads were mostly the big bundles of clean blankets and the heavy staples like boxes of canned goods.
    </p>

    <p>
      The donkeys were owned by the Appalachian Mountain Club, but were kept at the Harris farm on Kimball Hill above Whitefield. The Harris family came to this area and started clearing the land in 1822. About five years before World War II, Joe Dodge had made the arrangements for boarding these animals on their farm. Winston F. (Winnie) Harris, son of the farm owner, was the one who worked with the young men whom Joe sent over to pick up the needed eight donkeys after Memorial Day each year.
    </p>

    <p>
      Each donkey had its own name &#151; like Little Horse or Tex, two that Bob and Betty remembered. Winnie Harris recalled Whitey, The Male, and Old Jack, who was big and able to carry heavier loads.
    </p>

    <p>
      The truck available for moving the donkeys could carry eight, if they were loaded cross-wise on the truck &#151; alternating the first with its head to one side, the next with its head to the other side, and so on. Even with this "packing" technique they had to do some pushing to get the last one on board. Sometimes Winnie Harris came with the crew to make sure they knew a little about handling the animals. As Joe Dodge told Winnie, "These are good boys, but they've never seen a donkey before."
    </p>

    <p>
      During this period the donkeys were used for the initial supply to Greenleaf, Galehead, Zealand Falls, and Madison Huts. It generally took three or four days each to supply the three western huts and a full week for Madison. Joe Dodge would drive a truck with the supplies to the base point for each hut.
    </p>

    <p>
      A typical day would start by loading the donkeys with the blanket bundles or boxes carefully tied with diamond hitches to the cross tree saddles. The loads ran from 70 to about 110 pounds. On one occasion, Old Jack carried a kitchen sink on one side and a toilet bowl to balance on the other.
    </p>

    <p>
      Two of Joe's boys went up with the string of eight donkeys. After the steep pitches the donkeys needed rest. For some reason most of them liked to turn around and face down hill for their rest. Maybe they thought there was a chance to go back down. Betty Fuller, now Betty Elsner, remembers going up with the crew and seeing some of the loaded donkeys lie down in a particularly muddy place &#151; to rest or perhaps to register their complaint. Winnie Harris commented to me that if you pushed the donkeys too hard, they would just lie down.
    </p>

    <p>
      At Madison, for example, they would arrive a little before noon. The donkeys were fed some grain they had carried up and were turned loose to wander a bit. The two donkey escorts were fed lunch by the hut crew &#151; generally a good lunch, though the crew was very much in the learning mode at that time of year. After this rest they went back down to the corral in the clearing &#151; about where the power line crosses now.
    </p>

    <p>
      There were difficult places on some of the trails. Going up to Greenleaf there was a particularly steep place up a rock slab where the donkey hooves would sometimes slip. One section of the Galehead trail was always muddy at this time of year, and the donkeys objected. On the other hand in some instances they did better than I would have expected. I presumed that at Zealand Falls, the donkeys took their loads to the foot of the steep climb to the hut and that the hut men made the final carry. "Oh no," Bob Elsner said, "The donkeys went right up to the terrace in front of the hut."
    </p>

    <p>
      Lake of the Clouds was supplied from the carriage road: Carter Notch supplies were carried in by hut men. After all the huts were opened, all additional needed supplies were carried in by the young men working for the hut system.
    </p>

    <p>
      The entire donkey operation took about four weeks. Then the donkeys were trucked back to the Harris farm in Whitefield. The Harris farm was noteworthy to Bob Elsner. He remembers their diary herd and particularly a handsome pair of Percheron horses that Winnie Harris could control with remarkable precision. This farm on Kimball Hill is still owned by the Harris family, but the donkeys are long since gone. Winnie Harris is still alive and living on a part of the old farm. When I talked with him, he recalled the AMC donkey years with warm enthusiasm.
    </p>

    <p>
      Robert L. Wells, 9/4/96
    </p>

    <p>
      <b>References:</b>
    </p>

    <p>
      Conversation with Bob and Betty Elsner of Ester, Alaska, during visit to Randolph, NH September 3 and 4, 1996.
    </p>

    <p>
      Telephone conversation with Mr. Winston F. (Winnie) Harris at Harris Farm, Kimball Hill near Whitefield, NH, September 5, 1996.
    </p>

    <p>
      Visit to Harris Farm to see Mr. and Mrs. Winston F. Harris and Lauren Harris, September 7, 1996.
    </p>
  </article>
