---
title: 1936 Gorham July 4 Parade
permalink: /parade-photos/
order: 8
eleventyExcludeFromCollections: true
---

  <article class="text">
    <div class="text-group">
      <p>
        Photos from the Guy Shorey Collection, Mount Washington Observatory. Provided courtesy of Reuben Rajala.
      </p>
    </div>
    <div class="text-group">
      <figure class="figure">
        <img src="/images/shorey1936-01.jpg" width="600" height="366" alt="Old truck carrying paraders" class="img-responsive">
      </figure>
      <figure class="figure">
        <img src="/images/shorey1936-02.jpg" width="600" height="368" alt="AMC packboarders and donkeys" class="img-responsive">
      </figure>
      <figure class="figure">
        <img src="/images/shorey1936-03.jpg" width="600" height="361" alt="AMC packboarders with loaded up donkeys" class="img-responsive">
      </figure>
      <figure class="figure">
        <img src="/images/AMCDonkeyskinner1936.jpg" width="600" height="363" alt="AMC donkey loaded up in Gorham" class="img-responsive">
      </figure>
    </div>
  </article>
