---
title: Our Lousy Shirt
permalink: /shirt/
order: 4
---

  <article class="text clearfix">
    <div class="text-group clearfix">
      <figure class="figure figure-thumb figure-left">
        <a href="/images/tshirt-big.jpg" target="_blank">
          <img src="/images/tshirt-big.jpg" width="750" height="563" alt="White Mountain Jackass Company member at Crag Camp wearing our tee-shirt" class="img-responsive">
        </a>
      </figure>
      <p>
        Proceeds from WMJC shirt sales benefit the Guy <a href="http://www.watermanfund.org" target="_blank">Waterman Alpine Stewardship Fund</a>, our favorite organization and one we think is worthy of your support, too. They're doing a lot of good for the mountains, with a small amount of money. And they honor one of the most thoughtful and caring individuals whoever called these peaks home. Shirts are available, but you should offer a darned good reason why we should send you one. Good reasons include: a long time association with the mountains through USFS, RMC, AMC, AVSAR, or the Observatory.
      </p>
    </div>
  </article>
