---
title: Who We Are
permalink: /whoweare/
order: 1
---

  <div class="text-group clearfix">
    <p>
      Formed in 1929, the White Mountain Jackass Company was responsible for packing supplies into the Northern Presidentials, and elsewhere in the White Mountains &#151; not to mention contributing countless cubic feet of "surfacing" to local trails. The company hired muleskinners, owned 41 donkeys and even marched in the Gorham Fourth of July Parade.
    </p>
  </div>
  <div class="text-group clearfix">
    <figure class="figure figure-thumb figure-right">
      <a href="/images/pressies-big.jpg" target="_blank">
        <img src="/images/pressies-big.jpg" width="750" height="563" alt="Pressies" class="img-responsive">
      </a>
      <figcaption class="figcaption">
        Pressies from the West<br>
        <i>Photo by Ray Cotnoir</i>
      </figcaption>
    </figure>
    <p>
      Today, however, the WMJC is at the forefront of a new breed of corporation. The Jackass Company owns nothing, owes nothing, has no meetings, no income, no special use permits, reports to nobody and issues no newsletters, bulletins, minutes, emails, faxes or forms.
    </p>
    <p>
      The White Mountain Jackass Company is, however, extremely prestigious!
    </p>
    <p>
      So, just who are the Jackasses? You'll know when you meet them and they're wearing their official, company-issued WMJC t shirt.
    </p>
    <p>
      Proceeds from WMJC shirt sales benefit the Guy <a href="http://www.watermanfund.org" target="_blank">Waterman Alpine Stewardship Fund</a>, our favorite organization and one we think is worthy of your support, too. They're doing a lot of good for the mountains, with a small amount of money. And they honor one of the most thoughtful and caring individuals whoever called these peaks home.
    </p>
  </div>
  <div class="text-group clearfix">
    <p>
      Shirts are available, but you should offer a darned good reason why we should send you one. Good reasons include: a long time association with the mountains through USFS, RMC, AMC, AVSAR, or the Observatory.
    </p>
    <p>
      The WMJC seeks no publicity, has no membership goals, and we're sure as hell not having any kind of capital campaign to prove how big and important we are. (Because we're neither. Though we are prestigious! But we already told you that.)
    </p>
    <p>
      See you in the mountains &#151; and probably when you least expect it,
    </p>
    <p>
      <img src="/images/hoofprint.gif" width="118" height="98" alt="Donkey footprint signature" class="img-responsive">
    </p>
    <p>
      Corporate Headquarters<br>
      White Mountain Jackass Company<br>
      Randolph NH
    </p>
    <p>
      P.S. There's no connection between the White Mountain Jackass Company of old, and the current WMJC. Other than in spirit, and location of our home corral.
    </p>
  </div>
